* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root{
    --gradient: linear-gradient(45deg,
    #E8FD02,
    #02E8FD,
    #FD02E8); 
    --bg-color: hsl(323 21% 16%);
    --clr-neon: hsl(317 100% 54%);
    --clr-black: #333;
    --clr-white: #f5f5f5;
    --clr-purple: #6e5494;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
}
.controlPanel{
    height: 660px;
    width: 300px;
    border: 2px solid black;
    margin-right: 2em;

}
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2em;
}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    width: 660px;
    height: 660px;
    background-color: white;
    border: 1px solid black;
}

.gridBox {
    width: 40px;
    flex-shrink: 1;
    height: 40px;
    border: 1px solid black;
}